<div class="containerMain">
  <!-- Titulo -->
  <div class="itemContainerTitle">
    <mat-toolbar class="custom-toolbar">
      <i class="bi bi-clipboard-data-fill"></i>
      <span class="toolbar-title">Consulta de Transacciones/Transactions View</span>
    </mat-toolbar>
  </div>

  <!-- Filtros -->
  <div class="itemContainerFilter">
    <div class="subtitle">
      <h3>Store information</h3>
    </div>
    <form class="example-form">
      <div class="containerInputs1">
        <mat-form-field>
          <mat-label>Cadena/ Store</mat-label>
          <mat-select>
            <mat-option *ngFor="let s of store" [value]="s.value">{{ s.viewValue }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Confirmacion/ Confirmation</mat-label>
          <input matInput placeholder="00-00" value="00-00">
        </mat-form-field>
      </div>
      <div class="containerInputs2">

      </div>
    </form>
  </div>

  <!-- board -->
  <div class="itemContainerBoard">
    <!-- Contenido del board -->
  </div>
</div>
